*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: red;
}
h1{
    color: hotpink;
    font-size: 34px;

}
h2{
    color: deeppink;
    font-size: 52px;
}
p{
    color: red;
    font-size: 45px;
}






